:root {
  --max-width-pc: 1023px;
  --max-width-tablet: 767px;
  --max-width-mo: 100%;
  --max-width-modal-pc: 800px;
  --background: #fcd5ce;
  --color-black: #222;
  --color-white: #fff;
  --border-radius: 30px;
  --font-color: var(--color-black);
  --theme-base: #f8edeb;
  --theme-dark: #363636;
  /* --font-mono: "Noto Sans KR", sans-serif; */
}

/* :root[color-theme="light"] {
  --font-color: #222;
  --background: #fcd5ce;
} */

:root[color-theme="dark"] {
  --font-color: var(--theme-base);
  --background: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--font-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

button {
  cursor: pointer;
}

.bg-pink {
  width: 100%;
  height: 100%;
  background: var(--background);
}

.wrapper {
  /* max-width: var(--max-width-pc); */
  /* margin-right: auto;
  margin-left: auto; */
  border: 5px solid var(--color-black);
  border-radius: var(--border-radius);
  background: var(--color-white);
}

/** responsive */

/* tablet */
@media (max-width: 1023px) {
  /* main {
    max-width: var(--max-width-tablet);
  } */
}

/* mobile */
@media (max-width: 767px) {
  /* main {
    max-width: var(--max-width-mo);
  } */
}
